[Unit]
Description=alertmanager

[Service]
WorkingDirectory=/opt/alertmanager-{{alertmanager_version}}.linux-amd64
ExecStart=/opt/alertmanager-{{alertmanager_version}}.linux-amd64/alertmanager

[Install]
WantedBy=multi-user.target

#hggfh
#jhgdfjdgf